<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YBDownLoadDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>117AF8991E8E45BE00332FFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>117AF8B21E8E45BE00332FFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>117AF8BD1E8E45BE00332FFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
